
.icon-list-numbered:before { content: '\e800'; } /* '' */
.icon-list-bullet:before { content: '\e801'; } /* '' */
.icon-bold:before { content: '\e802'; } /* '' */
.icon-italic:before { content: '\e803'; } /* '' */
.icon-link:before { content: '\e804'; } /* '' */
.icon-unlink:before { content: '\e805'; } /* '' */
.icon-upload:before { content: '\e806'; } /* '' */